.page-cadastroAluno .ctnLoginAluno div input,
.page-cadastroAluno .ctnLoginAluno2 div input,
.page-cadastroAluno .ctnLoginAluno3 div input,
.page-cadastroAluno .ctnLoginAluno4 div input,
.page-cadastroAluno .ctnLoginAluno5 div input,
.page-cadastroAluno .ctnLoginAluno2 div select{
    width: 60%;
    text-align: start;
    font-size: 14px;
    color: #5f5f5f;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 100%;
    padding: 10px 40px 10px 10px;
    /* espaço para o ícone */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #DDE0E3;
    border: none;
    border-radius: 13px;
    outline: none;
}

.btnAvancarCad {
    display: flex;
}

.page-cadastroAluno .ctnLoginAluno {
    /* classe emprestada, scopeada */
    text-align: center;
}

.page-cadastroAluno .ctnLoginAluno div {
    text-align: start;
    margin-bottom: 15px;
}

.page-cadastroAluno .etapa2 {
    display: none;
}

.page-cadastroAluno .btnAvancarCad {
    display: flex;
}

.btn-voltar-cad {

    padding: 7px 25px 7px 25px;
    margin-top: 25px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: white;

    &:hover {
        background-color: var(--color-info);
    }

    &:active {
        background-color: #0d5964;
        color: white;
    }
}

.page-cadastroAluno .ctnLoginAluno div select {
    width: 60%;
    text-align: start;
    font-size: 14px;
    color: #5f5f5f;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 100%;
    padding: 10px 40px 10px 10px;
    /* espaço para o ícone */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #DDE0E3;
    border: none;
    border-radius: 13px;
    outline: none;
}

.cadastro-host-infos {
    display: flex;

    & div {
        margin: 10px;
        width: 100%;
        & div {
            height: 80px;
            & select {
                height: 40px;
            }
        }
    }
}

.radios-tipoImovel {
    display: flex;
    text-align: center;
    align-items: center;

    & div {
        align-items: center;
        text-align: center;
        justify-content: center;

        & label {
            margin-left: 45px;
        }
    }
}


.icon-camera-cadastro {
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translateY(-50%);
    /* Centraliza verticalmente */
    color: #888;
    /* Cor do ícone */
    font-size: 18px;
    /* Tamanho do ícone */
    height: 25px;

    & img {
        height: 25px;
        width: 25px;
    }
}

.add-fotos-casa label {
    position: relative;
}

.page-cadastroAluno .relato {
    background-color: #DDE0E3;
    border-radius: 13px;
    border: none;
    width: 100%;
    
    padding: 10px 25px 10px 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    resize: none;
}


.cadastro-host-infos-second {
    display: flex;

    & div {
        margin: 10px;
        width: 100%;
        & div {
            height: 100px;
            margin-top: 30px;
            
            & select {
                height: 40px;
            }
        }
    }
}


.ctnLoginAluno2, .ctnLoginAluno3, .ctnLoginAluno4, .ctnLoginAluno5 {
    display: none;
}

.senha{
    position: relative;
}



#botao-senha, #botao-senha2 {
    position: absolute;
    right: 15px;
    bottom: 5px;
    /*coloca o topo do botão na metade do elemento pai*/
    transform: translateY(-50%);
    /*é usada para centralizar verticalmente um elemento em relação ao seu “ponto de referência” — normalmente o elemento pai. */
    width: 30px;
    height: 30px;
    border: none;
    background: transparent url("/Nambio/assets/icons/olho-senha-fechado.svg") no-repeat center/ 1.2em;
    cursor: pointer;
}

#botao-senha.mostrando, #botao-senha2.mostrando {
    position: absolute;
    right: 15px;
    bottom: 5px;
    /*coloca o topo do botão na metade do elemento pai*/
    transform: translateY(-50%);
    /*é usada para centralizar verticalmente um elemento em relação ao seu “ponto de referência” — normalmente o elemento pai. */
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: transparent url("/Nambio/assets/icons/olho-senha.svg") no-repeat center / 1.2em;
}

.container-btn-avançar-cad {
    display: flex;
    text-align: center;
} 


.ctnLoginAluno4 .senha,
.ctnLoginAluno5 .senha {
    position: relative;
    overflow: hidden;
}





.texto-aluno-cadastro{
    color: var(--primary-color);
    font-size: 1px;
    margin-bottom: 10px;
    margin-top: 25px;
    text-align: left;
    font-weight: bold;
}


.link-cadastro-login{
    background-color: #0d5964;
    padding: 25px;

    margin-top: 183px;
}


.link-cadastro-login p{
    color: white;
    text-align: center;
}

.link-cadastro-login p strong a{
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: var(--primary-color);
    }

    &:active{
        color: white;
    }
}

.ctnLoginAluno div,
.ctnLoginAluno2 div,
.ctnLoginAluno3 div,
.ctnLoginAluno4 div,
.ctnLoginAluno5 div {
    margin: 12px 0px;
}

.preview-fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}
.preview-fotos img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 4px;
    object-fit: cover;
}