.container{
    padding: 90px
}
.container1{
    display: inline-block;
}

.container1 h1{
    font-size: 45px;
}

.container1 p{
    font-size: 25px;
}

.formulario{
    background-color: white;
    padding: 30px;
    width: 350px;
    border-radius: 21px;
    margin-top: 35px;
}


.formulario .nome label,
.formulario .email label,
.formulario .relato label{
    font-size: 20px;

}

.formulario .nome input,
.formulario .email input{
    background-color: #DDE0E3;
    border-radius: 40px;
    border: none;
    width: 250px;
    height: 25px;
    margin-bottom: 15px;
    padding: 2px 10px 2px 10px;
    font-family: 'Poppins', sans-serif;

    outline: none;
}

.formulario .relato textarea{
    background-color: #DDE0E3;
    border-radius: 20px;
    border: none;
    width: 300px;
    height: 300px;
    padding: 10px 25px 10px 25px;
    font-family: 'Poppins', sans-serif;


}