
.page-cadastroAluno .ctnLoginAluno div input{
    width: 60%;
    text-align: start;
    font-size: 14px;
    color: #5f5f5f;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 100%;
    padding: 10px 40px 10px 10px; /* espaço para o ícone */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #DDE0E3;
    border: none;
    border-radius: 13px;
    outline: none;
}

.btnAvancarCad{
    display: flex;
}

.page-cadastroAluno .ctnLoginAluno {  /* classe emprestada, scopeada */
    text-align: center;
}

.page-cadastroAluno .ctnLoginAluno div {
    text-align: start;
    margin-bottom: 15px;
}

.page-cadastroAluno .etapa2 {
    display: none;
}

.page-cadastroAluno .btnAvancarCad{
    display: flex;
}

.btn-voltar-cad {
    
    padding: 7px 25px 7px 25px ;
    margin-top: 25px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: white;

    &:hover{
        background-color: var(--color-info);
    }

    &:active{
        background-color: #0d5964;
        color: white;
    }
}
