.page-cadastroAluno .ctnLoginAluno div input {
    width: 60%;
    text-align: start;
    font-size: 14px;
    color: #5f5f5f;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 100%;
    padding: 10px 40px 10px 10px;
    /* espaço para o ícone */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #DDE0E3;
    border: none;
    border-radius: 13px;
    outline: none;
}

.btnAvancarCad {
    display: flex;
}

.page-cadastroAluno .ctnLoginAluno {
    /* classe emprestada, scopeada */
    text-align: center;
}

.page-cadastroAluno .ctnLoginAluno div {
    text-align: start;
    margin-bottom: 15px;
}

.page-cadastroAluno .etapa2 {
    display: none;
}

.page-cadastroAluno .btnAvancarCad {
    display: flex;
}

.btn-voltar-cad {

    padding: 7px 25px 7px 25px;
    margin-top: 25px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: white;

    &:hover {
        background-color: var(--color-info);
    }

    &:active {
        background-color: #0d5964;
        color: white;
    }
}

.page-cadastroAluno .ctnLoginAluno div select {
    width: 60%;
    text-align: start;
    font-size: 14px;
    color: #5f5f5f;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 100%;
    padding: 10px 40px 10px 10px;
    /* espaço para o ícone */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #DDE0E3;
    border: none;
    border-radius: 13px;
    outline: none;
}

.cadastro-host-infos {
    display: flex;

    & div {
        margin: 10px;
        width: 100%;
    }
}

.radios-tipoImovel {
    display: flex;
    text-align: center;
    align-items: center;

    & div {
        align-items: center;
        text-align: center;
        justify-content: center;

        & label {
            margin-left: 45px;
        }
    }
}


.icon-camera-cadastro {
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translateY(-50%);
    /* Centraliza verticalmente */
    color: #888;
    /* Cor do ícone */
    font-size: 18px;
    /* Tamanho do ícone */
    height: 25px;

    & img {
        height: 25px;
        width: 25px;
    }
}

.add-fotos-casa label {
    position: relative;
}

.page-cadastroAluno .relato {
    background-color: #DDE0E3;
    border-radius: 13px;
    border: none;
    width: 100%;
    height: 150px;
    padding: 10px 25px 10px 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    resize: none;
}


.ctnLoginAluno2, .ctnLoginAluno3, .ctnLoginAluno4{
    display: none;
}

