/* Cabeçalho/Menu */
header {
    background-color: #ED6D00;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Tirar pontos das partes da lista não ordenada e organizar elas um do lado da outra */
.links ul {
    display: flex;
    padding: 20px;
    list-style: none;
}

/* Links das outras páginas */
.links ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 0px 30px;
    font-size: 19px;

    &:hover {
        font-weight: 600;
    }
}