/* Carrossel com imagens de cidades famosas */

.carousel-container {
  max-width: 1600px;
  margin: 40px auto;
  position: relative;
  user-select: none;
  padding: 20px 80px;
  /* espaço para setas */
  text-align: center;
}

.carousel-titulo {
  margin-bottom: 16px;
  font-size: 20px;
}

.carousel {
  overflow: hidden;
}

.carousel-conteudo {
  display: flex;
  transition: transform 0.5s ease;

  & a {
    text-decoration: none;
  }
}

.card {
  min-width: 240px;
  margin: 0 12px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  & a {
    text-decoration: none;
  }


}

.card:hover .card-texto {
  /* Adiciona um sombreado interno escuro que escurece o fundo */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 240px;
  height: 180px;
  object-fit: cover;
  display: block;
}


.card-texto {
  padding: 16px 0;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 240px;
  margin: 0 auto;
}

.salvador {
  background-color: #f07400;
  /* laranja */
}

.capital {
  background-color: #2c99a5;
  /* verde água */
}

.ipanema {
  background-color: #f0ba31;
  /* dourado */
}

.ourinhos {
  background-color: #184c5a;
  /* azul petróleo escuro */
}

.gramado {
  background-color: #57bae3;
  /* azul claro */
}

.fortaleza {
  background-color: #f7931e;
  /* laranja-areia: pôr do sol nas praias de Iracema */
}

.rio-de-janeiro {
  background-color: #2c99a5;
  /* verde-água: cor da Baía de Guanabara e das lagoas */
}

.manaus {
  background-color: #F2DA63;
  /* verde-amazônia: floresta densa e viva */
}

.tiradentes {
  background-color: #d77926;
  /* marrom-barroco: tons das igrejas históricas e pedras coloniais */
}

.florianopolis {
  background-color: #4db6ac;
  /* turquesa-lagoa: águas calmas das praias e enseadas da Ilha */
}


/* Setas */
.seta {
  position: absolute;
  top: 50%;
  font-size: 28px;
  color: #2c99a5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 6px 12px;
  z-index: 10;
  background-color: transparent !important;
  box-shadow: none;
  outline: none;
  border-radius: 0;
}



.seta-esquerda {
  left: 10px;
}

.seta-direita {
  right: 10px;
}