/* Carrossel com imagens de cidades famosas */

.carousel-container {
  max-width: 1600px;
  margin: 40px auto;
  position: relative;
  user-select: none;
  padding: 20px 80px;
  /* espaço para setas */
  text-align: center;
}

.carousel-titulo {
  margin-bottom: 16px;
  font-size: 20px;
}

.carousel {
  overflow: hidden;
}

.carousel-conteudo {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  min-width: 240px;
  margin: 0 12px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  & a {
    text-decoration: none;
  }
}

.card img {
  width: 240px;
  height: 180px;
  object-fit: cover;
  display: block;

}

.card a{
  text-decoration: none;
}

.card-texto {
  padding: 16px 0;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 240px;
  margin: 0 auto;
}

.salvador {
  background-color: #f07400;
  /* laranja */
}

.capital {
  background-color: #2c99a5;
  /* verde água */
}

.ipanema {
  background-color: #f0ba31;
  /* dourado */
}

.ourinhos {
  background-color: #184c5a;
  /* azul petróleo escuro */
}

.gramado {
  background-color: #57bae3;
  /* azul claro */
}

/* Setas */
.seta {
  position: absolute;
  top: 50%;
  font-size: 28px;
  color: #2c99a5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 6px 12px;
  z-index: 10;
  background-color: transparent !important;
  box-shadow: none;
  outline: none;
  border-radius: 0;
}



.seta-esquerda {
  left: 10px;
}

.seta-direita {
  right: 10px;
}

