.container-pg-casasSP{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    max-width: 57%;
    border-radius: 25px;
    margin: 25px;
    padding: 5px 10px 5px 10px;
}



.primeiraParte{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0;
    border-right: 2px solid #ED6D00;
    
}

.filtros-pg-SP{
    text-align: center;
    position: relative;
    display: inline-block;
}

.filtros-pg-SP form input {
    background-color: white;
    padding: 7px 35px 7px 15px;
    font-size: 15px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;

    width: 250px;
}


.clear-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: none; /* aparece só quando há texto */
    user-select: none;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    
    &:hover {
        opacity: 1;
    }
}



.segundaParte{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ED6D00;
}

.data-entrada-pg-SP{
    position: relative;
    display: inline-block;

    text-align: center;
}

.data-entrada-pg-SP input{
    padding: 7px 35px 7px 15px;
    background-color: white;
    border: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    width: 250px;

    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.tirarData{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border:none;    
    cursor: pointer;
    display: none; /* começa escondido */
    width: 18px;
}




.terceira-parte{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
}

.terceira-parte input{
    padding: 10px 30px 10px 15px;
    background-color: white;
    border: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;

    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-right: 10px;

    width: 250px;
}

