.container-pg-casasSP{
    display: flex;
    justify-content: center;
    aliguin-items: center;
    background-color: azure;
    max-width: 55%;
    border-radius: 25px;
    margin: 25px;
    padding: 5px 0px 5px 0px;
}



.primeiraParte{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color :azure;
    margin: 0;
    padding: 10px;
    border-right: 2px solid #ED6D00;
}


.filtros-pg-SP{
    text-align: center;
    position: relative;
    display: inline-block;
}

.filtros-pg-SP form input {
    background-color: white;
    padding: 10px 35px 10px 15px;
    font-size: 15px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
}


.clear-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: none; /* aparece só quando há texto */
    user-select: none;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    
    &:hover {
        opacity: 1;
    }
}



.segundaParte{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


.terceira-parte{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin: 0;
}

.segundaParte input, .terceira-parte input{
    width: 200px;
    height: 35px;
    border: none;
    border: 1px solid #ccc;
    padding: 10px 35px 10px 15px;
    border-radius: 15px;
}