.pesquisa-cate-container {
    text-align: center;
    padding: 25px;
}


.pesquisa-cate {
  position: relative;
  display: inline-block; /* Para o contêiner não ocupar a largura total */
}

.pesquisa-cate input {
  padding-left: 30px; /* Espaço para o ícone */
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: var(--border-btn);
  width: 400px;
  font-family: 'poppins';
  font-size: 12.20px;
  color: var(--text-secondary);
}

.icon-lupa {
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translateY(-50%); /* Centraliza verticalmente */
  color: #888; /* Cor do ícone */
  font-size: 18px; /* Tamanho do ícone */
  height: 25px;

   & img {
    height: 25px;
    width: 25px;
   }
}