.casa-1{
    background-color: white;
    max-width: 80%;
    border-radius: 50px;
    padding: 25px 50px 25px 50px;
}

.casa-1 img{
    width: 2.5%;
}



/* CARROSSEL DE IMAGENS  */

.splide__slide img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

#image-carousel {
    position: relative;
    max-width: 800px; /* opcional */
    margin: auto;
}

  /* --- Bolinhas centralizadas dentro da imagem --- */
#image-carousel .splide__pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

#image-carousel .splide__pagination li button {
    width: 12px;
    height: 12px;
    background: rgba(255,255,255,0.7);
    border-radius: 50%;
    border: none;
    margin: 0 4px;
    transition: .3s;
}

#image-carousel .splide__pagination li button.is-active {
    background: #ED6D00;
    transform: scale(1.3);
}

  /* --- Seta direita no final da imagem --- */
#image-carousel .splide__arrow--next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    background: rgba(0, 0, 0, 0.45);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#image-carousel .splide__arrow--next svg {
    fill: #fff;
  }  /* --- Seta esquerda (opcional) --- */

#image-carousel .splide__arrow--prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    background: rgba(0, 0, 0, 0.45);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#image-carousel .splide__arrow--prev svg {
    fill: #fff;
}

.informacoes-da-casa-sp{
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 0 20px 0 20px;
    width: 35%;
}

.csa-info-1{
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    
}

.casa-1 .informacoes-da-casa-sp h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.casa-1 .informacoes-da-casa-sp h4{
    font-size: 17px;
    font-weight: 500;
    color: #000000;
}

.casa-1 .informacoes-da-casa-sp p{
    font-size: 14px;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 15px;
}

.csa-info-1 .informacoes-da-casa-sp button{
    background-color: #37B1DA;
    padding: 5px 15px 5px 15px;
    border:none;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: white;

    margin-top: 25px;
    cursor: pointer;

    &:hover{
        background-color: #2595b8;
    }

}

.etiquetas{
    padding: 0;
    justify-content: left;
}

.informacoes-da-casa-sp .etiquetas p{
    font-size: 17px;
    color: #124357;
    font-weight: bold;
}


.lista-etiquetas{
    display: flex;
    justify-content: center;
    max-width: 100%;
}


.etiquetas-lista-1,
.etiquetas-lista-2{
    align-items: center;
    padding: 0;
    width: 100%;
}


.etiquetas-lista-1 li,
.etiquetas-lista-2 li{
    display: flex;
    justify-content:left;
    gap: 15px;
    font-size: 15px;
    
    border-radius: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.etiquetas-lista-1 li img,
.etiquetas-lista-2 li img{
    width: 13%;
    margin: 0;
}

