/* Rodapé */
footer {
  background-color: #ED6D00;
  color: white;
  padding: 50px;

}

.lg-footer h1 img {
  height: 77px;
  margin-bottom: 35px;
}


.conteudo-footer {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

/* Primeira coluna do rodapé */
.sobre {
  width: 400px;
  gap: 100px
}

.nosSigaNasRedes {
  margin-top: 35px;

}

.nosSigaNasRedes h2 {
  margin-bottom: 10px;

}

.nosSigaNasRedes img {
  height: 31px;
  margin: 0;
}

.logos-apps {
  display: flex;
  justify-content: left;
  gap: 35px;

}

/* Segunda coluna do rodapé */
.informacao {
  text-align: right;
}

.informacao ul li {
  list-style: none;
}