/* Rodapé */
footer {
  background-color: #ED6D00;
  color: white;
  padding: 50px;

}

.lg-footer h1 img {
  height: 77px;
  margin-bottom: 35px;
}


.conteudo-footer {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

/* Primeira coluna do rodapé */
.sobre {
  width: 400px;
  gap: 100px
}

.nosSigaNasRedes {
  margin-top: 35px;

}

.nosSigaNasRedes h2 {
  margin-bottom: 10px;

}

.nosSigaNasRedes img {
  height: 31px;
  margin: 0;
}

.logos-apps {
  display: flex;
  justify-content: left;
  gap: 35px;

}

/* Segunda coluna do rodapé */
.informacao {
  text-align: right;
}

.informacao ul li {
  list-style: none;
}

.novidades{
  max-width: 600px;
  background-color: red;
}


.novidades .novi input{
  border: none;
  padding: 10px 5px 10px 15px;
  background-color: #D9D9D9;
  color:#828282;
  border-radius: 26px;
  font-family: 'Poppins', sans-serif;
  width: 350px;
  margin-top:15px;
}

.novidades .novi button{
  position: absolute;
  top: 2120px;

  border: none;
  padding:10px 5px 10px 15px ;
}