/* Rodapé */
footer {
  background-color: #ED6D00;
  color: white;
  padding: 50px;

}

.lg-footer h1 img {
  height: 50px;
  margin-bottom: 35px;
  cursor: pointer;
}


.conteudo-footer {
  display: flex;
  justify-content: space-around;
  gap: 150px;
  padding: 0;
  
}

/* Primeira coluna do rodapé */
.sobre {
  
  max-width: 450px;
  margin: 0;
  
}

.nosSigaNasRedes {
  margin-top: 35px;

}

.nosSigaNasRedes h2 {
  margin-bottom: 10px;

}

.nosSigaNasRedes img {
  height: 31px;
  margin: 0;
}

.logos-apps {
  display: flex;
  justify-content: left;
  gap: 35px;

}

/* Segunda coluna do rodapé */
.informacao {
  text-align: left;
  max-width: 450px;
}

.informacao ul{
  padding: 0;
}

.informacao ul li {
  list-style: none;
}

.informacao ul li a {
    cursor: pointer;
  }


/* terceira linha do site  */

.novidades{
  max-width: 600px;
  
  max-width: 450px;
  margin: 0;

}


.novidades .novi input{
  border: none;
  padding: 10px 5px 10px 15px;
  background-color: #D9D9D9;
  color:#828282;
  border-radius: 26px;
  font-family: 'Poppins', sans-serif;
  width: 350px;
  margin-top:15px;
  outline: none;
}

.novidades .novi button{
  border: none;
  padding: 5px 20px 5px 20px ;
  border-radius: 15px;
  margin-top: 15px;
  background-color: #3EBAEF ;
  font-family: "Poppins", sans-serif;
  cursor: pointer;

  &:active{
    background-color: #0687be;
  }
  
}