/* Header */
header {
  background-color: #ED6D00;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* Tirar pontos da lista não ordenada e organizar os itens lado a lado */
.links ul {
  display: flex;
  padding: 20px 0px;
  list-style: none;
  margin: 0;
}
.links {
  flex: 2;
  display: flex;
  justify-content: center;
  margin: 0px;
}


/* Links para outras páginas */
.links ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0px 20px;
  font-size: 19px;

  &:hover {
    font-weight: 600;
  }
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  margin: 0px 50px;
}

/* Estilo dos botões de header */
.botoesHeader {
  display: flex;
}

/* Estilo do dropdown de cadastro */
.dropdownCad {
  position: relative;
  display: inline-block;
}



.dropdownCad:hover .dropdown-content {
  display: block;
}

/* Estilo do dropdown de login */
.dropdownLogin {
  position: relative;
  display: inline-block;
}

.dropdownLogin:hover .dropdown-content {
  display: block;
}
 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  right: 0;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  &:hover {
    border-radius: 10px;
    color: #3EBAEF;
  }
}

.dropbtn {
  background-color: #37B1DA;
  color: rgb(0, 0, 0);
  padding: 8px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: var(--border-btn);
  max-width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'poppins', sans-serif;
}