/* Configuração automática */
* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Poppins';
} 

/* Cor de fundo de todo o site */
body {
    background-color: #D0DBE8;
}

/* Cabeçalho/Menu */
header {
    background-color: #ED6D00;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Tirar pontos das partes da lista não ordenada e organizar elas um do lado da outra */
.links ul {
    display: flex;
    padding: 20px;
    list-style: none;
}

/* Links das outras páginas */
.links ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 0px 30px;
    font-size: 19px;

    &:hover {
        font-weight: 600;
    }
}



button {
    background-color: #37B1DA;
    color: black;
    border-radius: 20px;
    width: 147px;
    height: 32px;
    align-items: center;
    text-align: center;
    border: none;

    &:hover{
        background-color: #2f94b6;
        cursor: pointer;
    }

    &:active{
        transition: none;
        background-color: #267995;
        color: white;
        width: 140px;
        height: 29px;
    }
}

header h1 {
    align-items: center;
    height: 37px;
}

/* Footer */
footer {
    background-color: #ED6D00;
    color: white;
    padding: 50px;
    
}

.lg-footer h1 img{
    height: 77px;
    margin-bottom: 35px;
}


.conteudo-footer{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
/* Prmeira coluna do footer  */
.sobre{ 
    width:  400px;
    gap: 100px
}

.nosSigaNasRedes{
    margin-top: 35px;
    
}

.nosSigaNasRedes h2{
    margin-bottom: 10px;
    
}

.nosSigaNasRedes img{
    height: 31px;
    margin: 0;
}

.logos-apps{
    display: flex;
    justify-content: left;
    gap: 35px;
    
}

/* Segunda coluna do footer  */
.informacao{
    text-align: right;
}
.informacao ul li{
    list-style: none;
}



/* Banner com frase de efeito do site */

.cristo {
    background-image: url(/Nambio/assets/images/image\ 1.png);
    display: flex;
    height: 538.59px;
    width: 1100x;

}

.cristo img {
    height: 50px;
}