/* Banner com frase de efeito do site */

/* Banner completo */
.cristo {
  background-image: url(/Nambio/assets/images/image\ 1.png);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Opcional: centraliza a imagem */
  width: 100%;
  /* Exemplo de tamanho do container */
  height: 500px;
  position: relative;
  align-items: flex-end;
}

.cristo img {
  pointer-events: none;
  user-select: none;
  /* Isso impede que o mouse selecione as imagens do banner
    pois se fossem selecionáveis, o link abaixo "confira já!"
    não estaria disponível para seleção */
}


/* Posição absoluta para todas as imagens secundárias e ajuste de cada uma no seu lugar */

/* Cristo Redentor */
.cristoft {
  position: absolute;
  left: 100px;
  max-width: 100%; /* Garante que a imagem não seja mais larga que o elemento pai */
  height: auto;
  
}

/* Arara Azul, use z-index para a arara ficar na frente da imagem do Cristo Redentor */
.arara {
  position: absolute;
  bottom: 220px;
  left: -10px;
  z-index: 2;
  height: 320px;
}

/* Imagem dos estudantes */
.estudantes {
  position: absolute;
  right: 140px;
  max-width: 100%; /* Garante que a imagem não seja mais larga que o elemento pai */
  height: auto;
}

/* Luz de fundo dos estudantes */
.luz {
  position: absolute;
  right: 100px;
  top: 20px;
  max-width: 100%; /* Garante que a imagem não seja mais larga que o elemento pai */
  height: auto;
}

/* Texto central */
.cristo h1 {
  position: absolute;
  text-align: center;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: white;
  z-index: 3;
  font-family: 'Inter';
}

/* Faixa azul com link */

.faixa-confira {
  display: flex;
  height: 35px;
  width: 100%;
  background-color: #37B1DA;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  z-index: 10;

}

.faixa-confira p {
  text-align: center;
  justify-content: center;
}

.faixa-confira a {
  font-style: italic;
  cursor: pointer;
}