
.ctn{
    display: flex;
    justify-content: center;
}
.ctnLoginAluno{
    background-color: white;
    max-width: 40%;
    padding: 25px;
    margin: 25px;
    border-radius: 50px;
}

.ctnLoginAluno h1{
    text-align: center;
    font-size: 35px;
}

.ctnLoginAluno p{
    width: 60%;
    text-align: center;
    font-size: 14px;
    color: #949090;
    margin-bottom: 15px;
    
}

.caixa1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    padding: 5px;
    background-color: #2C74Cc;
    border-radius: 50px;
    max-width: 35%;
    margin-bottom: 15px;



    &:hover{
        background-color: #1d4f8b;
    }

    &:active{
        background-color: black;
        
    }
}

.caixa1 a{
    text-decoration: none;
    color: white;
    margin:0;
}

.caixa1 img{
    max-width: 15%;
    margin: 0;
    
}



.caixa2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    padding: 5px;
    background-color: #DDE0E3;
    
    border-radius: 50px;
    max-width: 35%;
    margin-bottom: 15px;
}

.caixa2 img{
    max-width: 15%;
    margin: 0;
   
    padding: 2px ;
}

.caixa2 a{
    text-decoration: none;
    color: #949090;
    margin:0;
}