.ctn {
    display: flex;
    justify-content: center;
}

.ctnLoginAluno {
    background-color: white;
    max-width: 40%;
    padding: 25px;
    margin: 25px;
    border-radius: 50px;
}

.ctnLoginAluno h1 {
    text-align: center;
    font-size: 35px;
}

.ctnLoginAluno p {
    width: 60%;
    text-align: center;
    font-size: 14px;
    color: #5f5f5f;
    margin-bottom: 15px;

}

.caixa1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    padding: 5px;
    background-color: #2C74Cc;
    border-radius: 50px;
    max-width: 45%;
    margin-bottom: 15px;



    &:hover {
        background-color: #1d4f8b;
    }

    &:active {
        background-color: black;

    }
}

.caixa1 a {
    text-decoration: none;
    color: white;
    margin: 0;
}

.caixa1 img {
    max-width: 15%;
    margin: 0;

}



.caixa2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    background-color: #dad8d8;

    border-radius: 50px;
    max-width: 45%;
    margin-bottom: 30px;

    &:hover {
        background-color: #b5b5b6;
    }

    &:active {
        background-color: black;
    }

}

.caixa2 img {
    max-width: 15%;
    margin: 0;
    padding: 2px;
}

.caixa2 a {
    text-decoration: none;
    color: #6b6b6b;
    margin: 0;

    &:active {
        color: white;
    }


}


hr {
    max-width: 75%;

}


.aluno-login {
    text-align: center;
    padding: 15px;

    margin-top: 15px;

}


.aluno-login img {
    max-width: 7%;
    margin: 0;

}

.campo-senha-alunoLogin,
.campo-email-alunoLogin {
    position: relative;
    max-width: 75%;
}


.campo-senha-alunoLogin input,
.campo-email-alunoLogin input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    /* espaço para o ícone */
    box-sizing: border-box;

    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    background-color: #DDE0E3;
    border: none;
    border-radius: 13px;
    outline: none;
}


.botao-olho {
    position: absolute;
    right: 10px;
    top: 37%;
    /*coloca o topo do botão na metade do elemento pai*/
    transform: translateY(-50%);
    /*é usada para centralizar verticalmente um elemento em relação ao seu “ponto de referência” — normalmente o elemento pai. */
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: opacity 0.2s;

    background-image: url("/Nambio/assets/icons/olho-senha-fechado.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}



.lembrarSenha {
    display: flex;
    justify-content: space-between;
}

.lembraDeMim label,
.esqueceuSenha span a {
    font-size: 13px;
}

.lembrarSenha .esqueceuSenha span a {
    color: #5f5f5f;
    text-decoration: none;

    &:hover {
        color: #ED6D00;
    }
}


.btn-entrar-login {
    padding: 7px 25px 7px 25px;
    margin-top: 25px;
    border: none;
    background-color: #ED6D00;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: white;

    &:hover {
        background-color: #ca5e00;
    }

    &:active {
        background-color: #884001;
        color: white;
    }
}

.btn-entrar-login a {
    text-decoration: none;
    color: white;
}


.pgLogin-Linkcadastro {
    text-align: center;
}

.pgLogin-Linkcadastro .linkParaCadastro {
    font-size: 20px;
}

.pgLogin-Linkcadastro span a {
    color: #ED6D00;
    text-decoration: none;
    font-size: 17px;

    margin-bottom: 25px;

    &:hover {
        color: #3EAFD5;
    }
}

#lembrar {
    cursor: pointer;

}