.banner-sejaHome{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(/Nambio/assets/images/bannerfamilia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    
    position: relative;
}


.textoContainer{
    position: absolute;
    width: 25%;
    top: 50%;
    left: 76%;
    transform: translate(-50%, -50%);
    text-align: right;
    color: white;
}



.informacoes-sejaHome{
    background-color: #D0DBE8;
}

.informacoes-sejaHome p{
    text-align: center;
    margin: 30px;

    color:#767676 ;
    font-weight: bold;
    font-size: 25px;
}

.cards-sejaHome{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 75%;
}

.CardsejaHome{
    background-color: white;
    font-size: 10px;
    border-radius: 25px;
    width: 95%;
}

.cards-sejaHome p{
    font-size: 15px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.acesso{
    color: white;
    text-decoration: none;
    &:hover{
        color: #37B1Da;
    }
}