.banner-sejaHome {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(/Nambio/assets/images/bannerfamilia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;

    position: relative;
}


.textoContainer {
    position: absolute;
    width: 25%;
    top: 50%;
    left: 76%;
    transform: translate(-50%, -50%);
    text-align: right;
    color: white;
}

.textoContainer h1 {
    font-size: 45px;
}

.Nambio {
    color: var(--secondary-color)
}


.btn-seja-host {
    background-color: #3EBAEF;
    padding: 7px 15px 7px 15px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 30px;
    box-shadow: 0px 1 px 1 px black;

    &:hover {
        background-color: #4b9cbe;
        transform: scale(1.05);
    }

}

.btn-seja-host a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}

.informacoes-sejaHome {
    background-color: #D0DBE8;
    margin-bottom: 50px;
}

.informacoes-sejaHome p {
    text-align: center;
    margin: 30px;

    color: black;
    font-weight: bold;
    font-size: 25px;
}

.cards-sejaHome {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 75%;
}

.CardsejaHome {
    background-color: white;
    font-size: 10px;
    border-radius: 25px;
    width: 95%;
    align-content: center;
}

.CardsejaHome img {
    display: flex;
    margin-top: 20px;
    width: 20%;
}

.cards-sejaHome h1 {
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-top: 15px;
}

.cards-sejaHome p {
    font-size: 15px;
    text-align: center;
    color: #767676;
    font-weight: 100;
}

.title-anfitrioes {
    text-align: center;
    margin-bottom: 25px;
    color: var(--secondary-color);
}

.oque-dizem {
    text-align: center;
    background-color: white;
    padding: 80px;
}

.anfitrioes {
    display: flex;
    justify-content: space-evenly;
}

.anfitriao {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 25px;
    width: 35%;
    padding: 35px;
    align-items: center;

    background-color: transparent;
    border: 2px solid #b6b5b5;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fotoAnfitriao p {
    color: #1D5872;
    font-weight: bold;
}

.fotoAnfitriao img {
    border-radius: 100%;
    width: 130px;
    border: 5px solid #1D5872;
}

.relatoAnfitriao {
    color: #1f1e1e;
    text-align: left;


}

.requisitos-anfitriao {
    background-color: #ffffff;
    margin: 25px;
}


.requisitos-anfitriao h1 {
    margin: 45px;
    text-align: center;
    color: var(--primary-color)
}

.cards-requisitos {
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    gap: 50px;
}

.card-item {
    text-align: center;
    width: 15%;
    padding: 15px;
}

.cards-requisitos .card-item h3 {
    font-weight: 100;

}

.nova-jornada {
    height: 25%;
    background-color: #1D5872;
    padding: 25px;
    text-align: center;
}

.nova-jornada h1 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
}

.nova-jornada a {
    padding: 5px 15px 5px 15px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 15px;
    font-size: 14px;
    text-decoration: none;
    color: black;

    font-family: "Poppins", sans-serif;

    &:hover {
        background-color: #4b9cbe;
        color: white;
        
    }

    &:active {
        color: white;
        background-color: #813d01;
    }
}