.container{
    padding: 90px;
    display: flex;
    justify-content: space-between;
    max-width: 2000px;

}
.container1{
    display: ruby;
    justify-content: left;
    flex: 1;
    
}

.container1 h1{
    font-size: 35px;
}

.container1 p{
    font-size: 20px;
}





.conteudo2{
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo2 div {
    position: relative;
    width: 100%;
    height: 100%;
}

.conteudo2 .formandos{
    position: absolute;
    width: 650px;
    top: 50px;
    right: 150px;
    left: 100px;
    
}


.form-verde{
    position: absolute;
    width: 400px;

    top: 0px;
    right: 430px;
}

.form-amarelo{
    position: absolute;
    width: 400px;

    top:300px;
    right: 25px;
}

.linha-verde{
    position: absolute;
    top: 25px;
    right:  755px;
    
    
    width: 217px;
    height: 390px;
}

.linha-amarelo{
    position: absolute;
    width: 217px;
    height: 460px;
    top: 230px;
    right: -30px;


}

